{% extends "project/base.html" %}
{% block content %}

<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2"> Team : {{ object.team_training }}</a>
		</div>
		<h2 class="article-title">Training</h2>
		<p class="article-content">Type : {{ object.type_training }}</p>
		<p class="article-content">Date : {{ object.date_training|date:"F d, Y" }}</p>
		<p class="article-content">Hour : {{ object.hour_training }}</p>
		{% if user.is_captain %}
		<div>
			<a class="btn btn-primary btn-sm" href="{% url 'training_update' object.id %}" >Update</a>
			<a class="btn btn-secondary btn-sm" href="{% url 'training_delete' object.id %}" >Delete</a>
		</div>
		{% endif %}
	</div>
</article>

{% endblock content %}