{% extends "project/base.html" %}
{% block content %}

<div class="content-section">
	<h2>YOUR TRAININGS</h2>
</div>

{% if total_trainings %}
{% for training in total_trainings %}
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2">{{ training.team_training }}</a>
		</div>
		<h2><a class="article-title" href="{% url 'training_detail' training.id %}">TRAINING : {{ training.type_training }}</a></h2>
		<p class="article-content">Date : {{ training.date_training|date:"F d, Y" }} | Hour : {{ training.hour_training }} </p>
	</div>
</article>
{% endfor %}
{% else %}
<div class="content-section">
	<h3>You haven't any trainings planned yet</h3>
</div>
{% endif %}
{% endblock content %}
