{% extends "project/base.html" %}
{% block content %}

{% if user.is_authenticated %}
{% if user.is_captain %}
<div class="row">
	<div class="col">
		<div class="button-match">
			<a href="{% url 'proposition_create' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Suggest a Game</button>
		</div>
	</div>
	<div class="col">
		<div class="button-match">
			<a href="{% url 'training_create' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Suggest a training</button>
		</div>
	</div>
</div>
{% else %}
<div class="button-match">
	<a href="{% url 'research_team' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Join A Team</button>
</div>
{% endif %}

<div class="see">
	<div class= "row">
		<div class="col">
			<div class="card text-white text-center" id="see-matchs">
				<div class="card-header"><h3>See Your Matchs</h3></div>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-white text-center" id="see-trainings">
				<div class="card-header"><h3>See Your Trainings</h3></div>
				<div class="card-body">
					<h2 class="card-title">{{count_trainings}}</h2>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
	
{% endblock content %}

