{% extends "project/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if playerbelongtoteam %}
{% for playerbelong in playerbelongtoteam %}
<article class="media content-section">
	<img class="rounded-circle article-img" src="{{ playerbelong.player.image.url }}">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-3">{{ playerbelong.player.username }}</a>
			<small class="text-muted">{{ playerbelong.player.first_name}}</small>
			<small class="text-muted">{{ playerbelong.player.last_name}}</small>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="article-content">Email : {{ playerbelong.player.email }}</p>
				<p class="article-content">Phone : {{ playerbelong.player.numTel }}</p>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<a class="btn btn-danger" href="{% url 'delete_player' playerbelong.id  %}">Delete</a>
			</div>
		</div>
	</div>
</article>
{% endfor %}
{% else %}
<div class="content-section">
	<h3>You haven't any players in this team yet</h3>
</div>
{% endif %}
{% endblock content %}