{% extends "project/base.html" %}
{% block content %}

{% if teams %}
{% for team in teams %}
<article class="media content-section">
	<div class="media-body">
		<div class="row">
			<div class="col-md-6">
				<h2><a class="article-title" href="{% url 'team_detail' team.id %}">{{ team.name_team }}</a></h2>
				<p class="article-content">Date of creation : {{ team.date_creation|date:"F d, Y" }}</p>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
				<a class="btn btn-danger" href="{% url 'delete_team' team.id %}">Delete</a>
			</div>
		</div>
	</div>
</article>
{% endfor %}
{% else %}
<div class="content-section">
	<p>You haven't any teams</p>
</div>
{% endif %}
{% endblock content %}
