{% extends "project/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<form action="" method="POST">
		{% csrf_token %}
		{{form|crispy}}	
			<input class="btn btn-primary" type="submit" value="Validate">
	</form>
</div>
{% for proposition in propositions %}
{% if propositions %}
<article class="media content-section">
	<img class="rounded-circle article-img" src="{{ proposition.author.image.url }}">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="#">{{ proposition.author }}</a>
			<small class="text-muted">{{ proposition.date_posted|date:"F d, Y"}}</small>
		</div>
		<h2><a class="article-title" href="{% url 'proposition_detail' proposition.id %}">{{ proposition.title }}</a></h2>
		<p class="article-content">Date of the Match : {{ proposition.date_match }}</p>
		<p class="article-content">Hour : {{ proposition.hour_beggin }}</p>
	</div>
</article>
{% else %}
<div class="content-section">
	<p> No Matchs</p>
</div>
{% endif %}
{% endfor %}
{% endblock content %}