{% extends "project/base.html" %}
{% block content %}

<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="#">{{ object.author }}</a>
			<small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2 class="article-title">{{ object.title }}</h2>
				<p class="article-content">Date du match : {{ object.date_match }}</p>
				<p class="article-content">Heure : {{ proposition.hour_beggin }}</p>
				<p class="article-content">Adresse du match : {{ object.lieu_match }}</p>
				<p class="article-content">Nom du Stade : {{ object.name_stadium }}</p>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<div>
					{% if object.author == user %}
					<a class="btn btn-primary btn-sm" href="{% url 'proposition_update' object.id %}" >Update</a>
					<a class="btn btn-secondary btn-sm" href="{% url 'proposition_delete' object.id %}" >Delete</a>
					{% else %}
					<a class="btn btn-outline-primary" href="{% url 'confirmation' object.id %}">Accept</a>
					{% endif %}
				</div>
			</div>
	</div>
</article>

{% endblock content %}