{% extends "project/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
	<h2>Proposition Accepted : </h2>
</div>


{% for myresponse in response %}
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<small class="text-muted">{{ myresponse.date_reservation|date:"F d, Y" }}</small>
		</div>
		<h2><a class="article-title" href="{% url 'matchs_detail' myresponse.proposition.id %}">{{ myresponse.player.username }} has accepted your proposition : {{ myresponse.proposition.title }}</a></h2>
	</div>
</article>
{% endfor %}
{% endblock content %}