{% extends "project/base.html" %}
{% block content %}

<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Confirmation</legend>
			<h2>Confirmation for "{{ proposition.title }}" proposed by {{ proposition.author }}</h2>
		</fieldset>
		<div class="form-group">
			<form method="POST">
				{% csrf_token %}
				{{ form }}
			</form>
			<button class="btn btn-outline-primary" type="submit">Confirm</button>
			<a class="btn btn-outline-secondary" href="{% url 'proposition_detail' proposition.id %}">Cancel</a>

		</div>
	</form>
</div>

{% endblock content %}